.content-wrap {
  text-align: center;
  width: 100vh;
  margin: auto;

}

.vignette-engagement{
  background-color:#7ca512e0;
  width:100%;
 //background-color: #FFFFFF;
 border-radius: 10px;
 box-shadow: 0 10px 30px rgba(0,0,0,.1);
 margin: auto;
 padding-bottom: 40px;
 padding-top: 25px;
 margin-bottom: 25px;
 margin-top: 25px;
 text-align: center;
}

.description{
}

#marge {
margin-left: 2em;
}

h6{
  font-size: 0.7rem;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  h2{
    font-size:1.5rem;
  }

  h4{
    font-size: 1.35rem;
  }
  .content-wrap {
    width: 95%;
  }

  .description{
  text-align: left;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  h2{
    font-size:1.5rem;
  }

  h4{
    font-size: 1.35rem;
  }

  .content-wrap {
    width: 95%;
  }
    .description{
  text-align: left;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .content-wrap {
    width: 59%;
  }

  .description{
  text-align: justify;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .content-wrap {
    width: 59%;
  }

  .description{
  text-align: justify;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .description{
  text-align: justify;
  }
}
