<p class = "p-3" style= "text-align: center;"><strong>L'ABUS D'ALCOOL EST DANGEREUX POUR LA SANTÉ, À CONSOMMER AVEC MODÉRATION﻿</p></strong>
<div class="footer p-3">
    <%= link_to "Qui sommes-nous ?", :nous%>
    <%= link_to "CGV", :cgv%>
    <%= link_to "Mentions légales", :mentionslegales%>
    <%= link_to "Données personnelles", :donneepersonnelles%>
</div>

