<div class="diapo-photo-supperieure">
  <div class="photo-supperieure" style="background-image: url(https://images.unsplash.com/photo-1560089168-4169937e37d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);">



  </div>
  <div class="content-horizontal">
    <div class="p-5" style="width: 122%;" ><h2  style="color: black;">Une production limitée</h2></div>
    <div class="padding-text"><h2>Chaque année, nous ne commercialisons qu’un maximun de 1500 bouteilles. La quantité n'est connue qu'à la fin de la vendange</h2></div>
  </div>
</div>





<div class="content-horizontal" style="height:100vh;">
  <div class="content-for-double-image">
    <h1 style="color: black; padding-bottom: 4rem; padding-top: 2rem;">Un vin bio</h1>
    <h4>La naissance de ce vin est la rencontre de deux hommes, Jean Pierre Halm (JPH) et Patrick Hudelot (PH) tous deux passionnés par leur terroir et soucieux de préserver l’environnement et le patrimoine.<br><br>Fin des années 90, PH se pose des questions sur la viticulture de main et décide d’entreprendre une conversion en bio peu avant la disparition de JPH. Après beaucoup d’efforts, il obtient l’agrément en 2003.<br><br>Cela fait plus de 15 ans que la parcelle est cultivée en bio. Aucun produit chimique ni désherbant ni pesticide ne sont utilisés. Patrick n'utilise que la bouillie bordelaise, à base de cuivre, qu'il réduit au maximum, pour lutter contre le mildiou.<br><br>JPH disait toujours, "citation d'une des étiquettes"</h4>
  </div>
  <div class="content-vertical right-pictures-container">
    <div class="vignette" style="background-image: url('https://images.unsplash.com/photo-1485277068030-a29993c5d5f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80')"></div>
    <div class="vignette" style="background-image: url('https://images.unsplash.com/photo-1537640538966-79f369143f8f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80')"></div>

  </div>
</div>
