
  <div class="content-wrap" >
    <div class="vignette-engagement">
      <h2 class='p-3'>UN IMPACT POSITIF SUR L'ENVIRONNEMENT</h2>
        <div class="description p-3">
          <h4><span id='marge'/>Nous pensons que la simple compensation de l'empreinte carbone n'est pas suffisante, c'est pourquoi nous doublons chaque année la compensation de l'empreinte carbone du vin acheté.</h4>
        </div>
      <p class="p-3">Chaque bouteille de vin produit 1,5 Kg d'équivalent CO2. <sup>(1)</sup><br><br> Nous compensons 3 Kg d'équivalent CO2 via la Fondation Good Planet et leur porgramme "Engageons nous en faveur du climat" en fin d'année pour chaque bouteille vendue.</p>
    </div>
  </div>

  <h6 class="p-3 "><sup>(1)</sup>Le bilan réalisé par l'ADEME donne un résultat de 1,1 Kg d'équivalent CO2 pour une bouteille de vin de 75 cl, avec une amplitude de +/- 50%. Plus d'info sur le site de <a href="http://www.bilans-ges.ademe.fr/documentation/UPLOAD_DOC_FR/index.htm?boissons.htm/">l'ADEME</a>.</h5>

  <div class="content-wrap" >
    <div class="vignette-engagement">
      <div>
        <h2>UN PROJET AU SERVICE DES ARTISTES</h2>
      </div>
      <div class="description p-3">
        <h4>La création artistique, moteur de l'innovation.</h4>
      </div>
      <p class="p-3"><span id='marge'/>Afin de faire évoluer le projet, nous proposons chaque année à un artiste d'interpréter le projet dans son art.<br><br>La première interprétation est faite par Pierre Thilloy.
      </p>
    </div>
  </div>


  <div class="content-wrap" >
    <div class="vignette-engagement">
      <h2>UN PROJET QUI CONTRIBUE A CONSTRUIRE LE FUTUR</h2>
      <div class="description p-3">
        <h4><span id='marge'/>5 euros par bouteille sont investis dans des projets innovants ayant un impact positif sur notre société: première sélection en septembre 2020.</h4>
      </div>
      <p class="p-3">Les projets seront choisis par la communauté des clients sur proposition de l'équipe JPH.<br><br>L'équipe JPH, se réunit une fois par an lors des vendanges pour entériner cette sélection.<br><br>Les critères sont actualisés chaque année.</p>
    </div>
  </div>

