
  <div class="content-wrap" >
    <div class="vignette-engagement">
      <h2>UN IMPACT POSITIF SUR L'ENVIRONNEMENT</h2>
        <div class="description">
          <h4><span id='marge'/>Nous pensons que la simple compensation de l'empreinte carbone n'est pas suffisante, c'est pourquoi nous doublons chaque année la compensation de l'empreinte carbone du vin achete</h4>
        </div>
      <p>Chaque bouteille a une empreinte carbone de 1,5kg de CO2.<br><br>Ce chiffre est la base de calcul de l'empreinte.<br><br>La compensation est réalisée en fin d'année sur la base du nombre de bouteilles vendues.</p>
    </div>
  </div>


  <div class="content-wrap" >
    <div class="vignette-engagement">
      <h2>UN PROJET AU SERVICE DES ARTISTES</h2>
      <div class="description">
        <h4>La création artistique, moteur de l'innovation</h4>
      </div>
      <p><span id='marge'/>Afin de faire évoluer le projet, nous proposons chaque année à un artiste d'interpréter le projet dans son art.<br><br>La première interprétation est faite par Pierre Thilloy.
      </p>
    </div>
  </div>


  <div class="content-wrap" >
    <div class="vignette-engagement">
      <h2>UN PROJET QUI CONTRIBUE A CONSTRUIRE LE FUTUR</h2>
      <div class="description">
        <h4><span id='marge'/>5 euros par bouteille sont investis dans des projets Innovants qui ont une impat positif sur notre société, premire selection en Sepetembre 2020.</h4>
      </div>
      <p>Les projets seront choisis par la communauté des clients sur proposition de l'équipe JPH.<br><br>L'équipe JPH, se réunira une fois par an lors des vendanges pour entériner cette sélection.<br><br>Les critères seront actualisés chaque année.</p>
    </div>
  </div>
