<div class="container">
  <div class="row">

    <div class="col-12 col-lg-6 mt-4" style="background-image: url(https://res.cloudinary.com/dbqpc6nk9/image/upload/v1574263640/zdurcpoalk0vscqakjgc.jpg);    background-size: cover;">
    </div>

    <div class="col-12 col-lg-6 p-4">
      <h2 class="pb-3 mt-3" style="color: black; text-align: left;">Une histoire familiale</h2>
      <h4><span id='marge'/>En 1981, Jean Pierre Halm, Créateur de moutarde pour une marque historique de moutarde dijonnaise et oenologue de formation, acheta la parcelle et y replanta une jeune vigne. Il souhaitait ainsi assouvir sa passion pour le vin et faire de ce lieu un endroit d’expérimentation, pour remettre au goût du jour la recette ancestrale de la moutarde au Verjus. Il confie la culture de sa vigne au jeune Patrick Hudelot, viticulteur à Curtil-Vergy.<br><br><span id='marge'/>Bon vivant, à partir de 1985, il y organise chaque année une rencontre familiale et amicale lors des vendanges.<br><br><span id='marge'/>Il disparaît à l’âge de 62 ans, en ayant réussit ses expérimentations, mais sans avoir malheureusement pu vinifier lui-même son propre vin.<br><br><span id='marge'/>Sa famille, et notamment sa fille et son gendre avec leurs enfants, perpétuent la tradition familiale....</h4>
    </div>

  </div>
</div>
