<div class="background-image" >
  <div class="inner-content">
    <h1> <strong>test de la page</strong></h1>
  </div>
  <div class="carre">
      <h2>Video</h2>

  </div>
  <div class="carre">
    <p>Ton texte explicatif</p>
  </div>
</div>
