<div class="background-image flex-centered" style="background-image: url('https://images.unsplash.com/photo-1504279577054-acfeccf8fc52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80');" >
  <div class="inner-content">
    <h1> <strong>test de la page</strong></h1>
  </div>
  <div class="carre">
      <h2>Video</h2>

  </div>
  <div class="carre">
    <p>Ton texte explicatif</p>
  </div>
</div>

<div class="background-image flex-horizontal" style="background-image: url('https://images.unsplash.com/photo-1474152042542-1e794677a34b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1500&q=80');">
  <div class="background-filter">
   <div class="pt-2 pl-3">
      <h1 class="">Notre vision:</h1>
      <h2 class="pl-4 pt-4">Vous permettre de devenir un acteur de la consommation positive dans un moment de convivialité.</h2>
    <h4 class="pl-4">La consommation positive, allie, une qualite et tracabilite irreprochable, pas d’impact sur l’environnement et enfin une contribution positive pour la société et une approche collaborative dans les choix strategiques.</h4>
    </div>
  </div>
</div>


<div class="background-image p-5" style="height: auto;">
  <div class="flex-centered">
    <h1 style="color: black">Nos 4 grands principes</h1>
  <div class="trait"></div>
  </div>

  <div class="cards">
    <div class="big-card">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1416169607655-0c2b3ce2e1cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80)">
        Environnement
      </div>
      <div class="p-4 text-card">
        <p>Une compensation de 100% de son empreinte carbone dans des projets visant à </p>
      </div>
    </div>

    <div class="big-card">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1423483641154-5411ec9c0ddf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
        Produit
      </div>
      <div class="p-4 text-card">
        <p>Un vin biologique qui permet l'expression du terroir en limitant l'utilisation de produits chimiques ET une quantité limitée </p>
      </div>
    </div>


    <div class="big-card">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1533959679641-8ce0d2962284?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80)">
        Avenir
      </div>
      <div class="p-4 text-card">
        <p>30% du prix de vente d'une bouteille est investi dans des projets Agro-Alimentaires qui visent un impact positif.  </p>
      </div>
    </div>

    <div class="big-card">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1564053489984-317bbd824340?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1028&q=80)">
        Gouvernance
      </div>
      <div class="p-4 text-card">
        <p>Toutes les décisions concernant la compensation carbone et la contribution aux projets sont prises par la commauté des clients</p>
      </div>
    </div>


  </div>

</div>

