<div class="background-image flex-centered" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbqpc6nk9/image/upload/v1574263665/h9gr6wyoq9fop23fu8w6.jpg);    background-size: cover;">
  <div class="inner-content pl-2 pr-2" style="    margin: auto;">
<div style="background-image: url(../../../app/assets/images/Logo-JPH-sans-fond.png)"> </div>

    <h2><span id='marge'/>Frédérique, Franck ainsi que leur fils Antoine et Paul, continuent tous les ans à perpétuer l'aventure du JPH. Chaque année une équipe d'un dizaine de vendangeurs bénévoles et surmotivés s'associe à ces moments de convivialité pour récolter les précieuses grappes d'un Vinquifaitsens.</h2>
  </div>
</div>
