<div class="diapo-photo-supperieure">
  <div class="photo-supperieure">

  </div>
  <div class="content-horizontal">
    <div class="p-5" style="width: 122%;" ><h2  style="color: black;">Un lieu chargé d'histoire</h2></div>
    <div class="padding-text"><h4>Le Clos "des vignes du dessus" est situé sur  la butte de Vergy à 380 mètres d'altitude, au pied de l’ancienne Abbaye des moines de Saint Vivant. <br><br>Cette abbaye, fondée aux environs de l'an 900 a abrité des moines bénédictins et cisterciens, qui par leur travail ont contribuer à définir les fameux "climats de Bourgogne". <br><br>À partir de 1232, ces moines exploiteront, pendant 650 ans, le clos de la Romanée Conti et Romanée Saint vivant.</h4></div>
  </div>
</div>


<div class="content-horizontal" style="height:100vh;">
  <div style="width:50vw;">
    <h1 style="color: black;">Un terroir unique</h1>
    <h4>Le clos dit "des vignes du dessus" s'étend sur 33 ares. Son exposition plein sud permet à la vigne de fructifie, dans cette partie de la Bourgogne plus fraîche que la côte.<br><br>Le sol est argilo-calcaire, issu du Jurassique inférieur. Très caillouteux, ce sol permet une bonne infiltration de l'eau ; et quand le soleil chauffe, il emmagasine la chaleur pour la restituer à la vigne.<br><br>En 1961, cette terre a reçu l'appellation d'origine contrôlée Hautes-Côtes-de Nuits. </h4>
  </div>
  <div class="content-vertical full-width">
    <div class="vignette" style="background-image: url('https://images.unsplash.com/photo-1515779122185-2390ccdf060b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80')"></div>
    <div class="vignette" style="background-image: url('https://images.unsplash.com/photo-1515779122185-2390ccdf060b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80')"></div>
  </div>
</div>






<div class="background-image flex-horizontal" style="background-image: url('https://images.unsplash.com/photo-1515779122185-2390ccdf060b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');">
  <div class="background-filter">
   <div class="pt-2 pl-3">
      <h1 class="">Un terroir unique</h1>

    <h4 class="pl-4">Le clos dit "des vignes du dessus" s'étend sur 33 ares. Son exposition plein sud permet à la vigne de fructifie,  dans cette partie de la Bourgogne plus fraîche que la côte.

    Le sol est argilo-calcaire, issu du Jurassique inférieur. Très caillouteux, ce sol permet une bonne infiltration de l'eau ; et quand le soleil chauffe, il emmagasine la chaleur pour la restituer à la vigne.

    En 1961, cette terre a reçu l'appellation d'origine contrôlée Hautes-Côtes-de Nuits. </h4>
    </div>
  </div>
</div>



