<div class="diapo-photo-supperieure" style="height: all;">
  <div class="photo-supperieure flex-centered" style="    place-content: space-around; background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(https://images.unsplash.com/photo-1560089168-4169937e37d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);">
    <div><%= link_to "Nous contacter", :contact, class: "btn btn-ghost btn-buy" %></div>
  </div>
</div>

<div class="content-vertical" style="background-color: white; align-items: center;">
  <div class="pt-5 pl-3" style="" ><h2  style="color: black;">Une production limitée</h2></div>
  <div class="p-3"><h4>Chaque année, nous ne commercialisons au maximum qu'un nombre limité de bouteilles. La quantité n'est connue qu'à la fin de la vendange.</h4></div>
</div>

<div class="container">


  <div class="row">
    <div class="col-12 col-lg-6 p-3 pt-4">
        <div>
          <div class="vignette" style="background-image: url('https://images.unsplash.com/photo-1472352327492-9765783b74e1?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80') "></div>
          <div class="vignette" style="background-image: url('https://res.cloudinary.com/dbqpc6nk9/image/upload/v1574267729/IMG_20190928_093739_ht8v1i.jpg')"></div>
        </div>
    </div>

    <div class="col-12 col-lg-6 p-3 pt-5">
        <h2 style="color: black;">Un vin bio</h2>
        <h4><span id='marge'/>La naissance de ce vin est la rencontre de deux hommes, Jean Pierre Halm et Patrick Hudelot, tous deux passionnés par leur terroir et soucieux de préserver l’environnement et le patrimoine.<br><br>Fin des années 90, Patrick se pose des questions sur la viticulture de main et décide d’entreprendre une conversion en bio, peu avant la disparition de Jean Pierre. Après beaucoup d’efforts, il obtient l’agrément en 2003.<br><br>Cela fait plus de 15 ans que la parcelle est cultivée en bio. Aucun produit chimique, du désherbant aux pesticides, n'est utilisé. Dans les Hautes Côtes, la majorité des rangs de vignes sont espacés et taillés en hauteur, ce qui facilite le travail.<br><br> Les vendanges de la parcelle « Les Jardins » sont exclusivement faites à la main et par l’équipe JPH. Il faut une quinzaine de vendangeurs pour cueillir les quelques 10 000 grappes dorées.<br><br>L'élevage dure de 9 à 12 mois dans des tonneaux fabriqués par des tonneliers bourguignons avec du chêne issu de forêts françaises.<br><br>Le cépage Chardonnay exprime son terroir minéral avec des arômes de fruits blancs et d'agrumes. Lors de son élevage, il peut exprimer de légères notes toastées, caractéristiques des grands vins blancs de Bourgogne.
    </div>
  </div>
</div>
