
<div class="background-image flex-centered" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbqpc6nk9/image/upload/v1574263665/h9gr6wyoq9fop23fu8w6.jpg);    background-size: cover;">
  <div class="inner-content pl-2 pr-2" style="    margin: auto;">
<div style="background-image: url(../../../app/assets/images/Logo-JPH-sans-fond.png)"> </div>

    <h3 class = "contact" style ="color: white;">Nous sommes joignables par mail à l'adresse : levinquifaitsens@gmail.com</h3>
  </div>
</div>
