.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255,255,255,0.97);
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-center{

}

.navbar-lewagon .navbar-brand img {
  width: 72px;
}
